
$primary: #48ba61;
$secondary: #6270bc;
$darkgreen: #168069;

$dark: #595D60;
$light: rgb(208, 218, 226);

$red: #b31414;

$border-radius: 5px;

.view-title {
  color: rgba($dark, 0.7);
  font-size: 24px;
  font-weight: bold;
  padding: 30px 0px;
}

.view-header {
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0px;
  margin: 0px 20px;
  color: $secondary;
}

.view-header-background {
  height: 150px;
  background-color: $primary;
}

.card {
  border-radius: $border-radius;
  padding: 30px;
  background-color: white;
  box-shadow: 4px 4px 10px rgba($dark, 0.3);
}

.button {
  background-color: $primary;
  border-radius: $border-radius;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.1s;

  &:hover {
    background-color: lighten($primary, 5%);
  }
}

.input {
  display: block;
  margin: 0;
  padding: 8px 10px;
  width: 100%;
  border: 1px solid $primary;
  border-radius: $border-radius;
  transition: box-shadow 0.3s;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.8;
  box-sizing: border-box;
  
  &:focus {
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
}
